.consumo
	
	.form__consumo
		width 100%
		max-width 300px
	
	.form__group
		
		margin 1rem 0
		position relative
		width 100%
		
		label
			float right
			
			input
				margin-right 1rem
				margin-left .2rem
	
.si-no
	text-align right
	
	span
		margin 0 .5rem