extend ../Template/template

block vars
	- var pagina = { name: 'comparte'}
	- menuPrincipal = true

block content

	h3 Comparte y comprueba quien emitió menos CO2 esta semana

	.users
		.users__item.users__item--1
			img(src="images/users/1.jpg", alt="usuarios chidos")
		.users__item.users__item--2
			img(src="images/users/2.jpg", alt="usuarios chidos")
		.users__item.users__item--3
			img(src="images/users/3.jpg", alt="usuarios chidos")
		.users__item.users__item--4
			img(src="images/users/4.jpg", alt="usuarios chidos")
		.users__item.users__item--5
			img(src="images/users/5.jpg", alt="usuarios chidos")
		.users__item.users__item--6
			img(src="images/users/6.jpg", alt="usuarios chidos")
