extend ../Template/template

block vars
	- var pagina = { name: 'reduccion', prev: 'emisiones', next: 'consejos'}

block content

	figure
		img(src="images/mapa.png", alt="Mapa")
	.reduccion__content

		h3 Gasolina Reducción del 2,1 %

