.indicador__table--item
	position relative
	span
		position relative
		&:first-child
			float left
			padding-right 1rem
		&:last-child
			float right
		
		&::after
			position absolute
			content ''
			width 1.5rem
			height 1.5rem
			top .8rem
			left -2rem
			border-radius 50%
		&.rojo
			&::after
				background-color red
		&.verde
			&::after
				background-color green