extend ../Template/template

block vars
	- var pagina = { name: 'consejos'}
	- menuPrincipal = true
	- menuRedes = true

block content

	.consejos.consejos__item.amarillo
		p "No dejes los aparatos electrónicos en modo Stand By" 
	.consejos.consejos__item.amarillo
		p "Evita el uso de bolsas de plástico" 
	.consejos.consejos__item.azul
		p "Reto de la semana: si vas al mercado lleva tus bolsas y recicla"

	.consejos.consejos__item.azul
		p "Ya estamos conectados con datos abiertos de Canadá; Amplía tu red con tus amigos canadienses."

