.gasto
	.content
		text-align left
	&__table
		border solid 1px #333
		background-color #fff
		display table
		text-align center
		color #333
		margin 1rem auto
		border-radius 10px
	&__item 
		border-bottom solid 1px #333
		display table-row
		padding 1rem
		p
			margin 0
			line-height 1.5rem
			
	.btn__ok
		display block
		color #333
		padding .5rem
		max-width 100%
		margin 1rem auto
		background-color yellow
	
	input[type="date"]
		color #333
	
	.input__gasto
		input
			border-radius 5px
			margin .5rem
			display inline-block
			max-width 120px
			
			&[type="submit"]
				
				border none
				background-color yellow
				color #333

	.terminar
		display block
		border-radius 5px
		margin .5rem 0 0 auto
		border none
		padding .1rem
		max-width 100px
		text-align center
		
		background-color yellow
		color #333
							



